.form-control {
	margin: 1rem 0;
}

.form-control :is(label, input, textarea) {
	display: block;
	width: 100%;
	margin-bottom: 0.25rem;
}

.form-control :is(input, textarea) {
	border: 1px solid #a1a1a1;
	font: inherit;
	border-radius: 2px;
}

.form-control :is(input, textarea):focus {
	outline-color: #00695c;
}

.form-control input.invalid {
	border-color: red;
}
